[submodule "modules/data"]
	path = modules/data
	url = ../../AirShowerPhysics/corsika-data.git
	branch = master
        shallow = true
[submodule "modules/proposal"]
	path = modules/proposal
	url = https://github.com/tudo-astroparticlephysics/PROPOSAL.git
	branch = restructure_parametrization
        shallow = true
[submodule "modules/conex"]
	path = modules/conex
	url = ../../AirShowerPhysics/cxroot.git
	branch = master
        shallow = true
