[submodule "modules/data"]
    path = modules/data
    url = ../../AirShowerPhysics/corsika-data.git
    shallow = true
[submodule "modules/conex"]
	path = modules/conex/cxroot
	url = ../../AirShowerPhysics/cxroot.git
	shallow = true
