[submodule "Data"]
	path = Data
	url = ../../AirShowerPhysics/corsika-data
	branch = master
[submodule "ThirdParty/spdlog"]
	path = ThirdParty/spdlog
	url = https://github.com/gabime/spdlog.git
	shallow = true
[submodule "Processes/Proposal/PROPOSAL"]
	path = Processes/Proposal/PROPOSAL
	url = https://github.com/tudo-astroparticlephysics/PROPOSAL.git
[submodule "ThirdParty/yaml-cpp"]
	path = ThirdParty/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
	shallow = true
[submodule "ThirdParty/arrow"]
	path = ThirdParty/arrow
	url = https://github.com/apache/arrow
	shallow = true
